@import '../../variables.scss';
.menu__list-item {
  display: inline-block;
  & + .menu__list-item {
    padding-left: 60px;
  }
}
.menu__list-link {
  color: #000;
  padding-bottom: 16px;
  position: relative;
  // &:hover {
  //   border-bottom: 3px solid #000;
  // }
  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -8px;
    height: 1px;
    width: 1%;
    opacity: 0;
    background: $dark;
    border: 1px solid $dark;
    border-radius: 6px;
    transition: opacity, width ease-in-out 0.75s;
    left: 50%;
    transform: translate(-50%, 0);
  }
  &:hover {
    &::after {
      width: 100%;
      opacity: 1;
    }
  }
}
