@import '../../variables.scss';

.root {
  min-height: 100vh;
  background: linear-gradient(100deg, $third 0%, $primary 100%);
}
.contentWrap {
  // padding-top: 100px !important;
  display: flex;
  max-width: 516px;
}

.contentText {
  & h1 {
    font-style: normal;
    font-size: 72px;
    line-height: 84px;
    letter-spacing: 4px;
  }
  & p {
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
  }
}
