.header {
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  background: #f5db13;
  box-shadow: 0px 4px 16px rgba(1, 28, 64, 0.2);
  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    line-height: 29px;
    max-width: 1125px;
    margin: 0 auto;
  }
  .header__logo {
    margin: 14px;
  }
}
